<%- include('layout/header')%>
    <div class="container mt-5">
        <div class="row">
            <%- include('website-options') %>

                <div class="col-md-9">
                    <h2 style="margin-bottom: 1rem;">Highlights</h2>
                    <% if(typeof highlights !== 'undefined' && highlights.length > 0){ %>
                        <ul class="list-group list-group-flush">
                            <% highlights.forEach(highlight => { %>
                                <li class="list-group-item">
                                    <a href="/admin/website/highlights/edit/<%= highlight.id %>"><%= highlight.title %></a>
                                    <a class="float-left delete" href="/admin/categories/delete/<%= category._id %>"><i class="fas fa-trash-alt"></i></a>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
                            <a href="/admin/website/highlights/create" class="btn btn-primary mt-4">Crear Highlight</a>
                </div>
        </div>
    </div>

    <%- include('layout/footer') %>