<div class="col-md-3">
    <div class="list-group">
        <a href="/admin/website/company" class="list-group-item list-group-item-action <%= typeof subnavOption !== 'undefined' && subnavOption==='empresa' ? 'active' : ''  %>">Empresa</a>
        <a href="" class="list-group-item list-group-item-action <%= typeof subnavOption !== 'undefined' && subnavOption==='nosotros' ? 'active' : ''  %>">Nosotros</a>
        <a href="" class="list-group-item list-group-item-action <%= typeof subnavOption !== 'undefined' && subnavOption==='jumbotron' ? 'active' : ''  %>">Jumbotron</a>
        <a href="/admin/website/highlights" class="list-group-item list-group-item-action <%= typeof subnavOption !== 'undefined' && subnavOption==='highlights' ? 'active' : ''  %>">Highlights</a>
        <a href="" class="list-group-item list-group-item-action <%= typeof subnavOption !== 'undefined' && subnavOption==='caroussel' ? 'active' : ''  %>">Caroussel</a>
    </div>
</div>